@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

html{
    height: 100%;
}
body{
    font-family: Inter,sans-serif;
}
.nav-bg-color{
    background-color:#252525!important;
    color: white !important;;
}
.main-wrapper{
    background-color:#1a1a1a!important;
    color: white !important;;
}
.chapter-number{
color:pink !important
}
.chapter-title{
color: white!important;
font-weight: 800;
font-size: 2.50rem;
line-height: 5.5rem;
}
.chapter-desc{
    color: white!important; 
    font-size: 18px;
}
.verse-heder{
    border-top: 1px solid #ffc0a9;
    border-bottom: 1px solid #ffc0a9;
}
.vers-number{
    width: 200px;
}
.vers-content{
    width: calc(100% - 200px) !important;
}
.verse-number-counter{
    color: pink !important;
}
.verse-card{
    cursor: pointer !important;
}
.verse-card:hover{
    background-color: #2e2b2b!important;
}
a{
    text-decoration: none;
    color:inherit
}
a:hover{
    color: inherit;
}
/* .verse-section{
    height: 100vh;
} */